{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Registration</h1>
        <div class="alert alert-danger">
          {% for message in messages %}
            <strong>{{ message }}</strong>
          {% endfor %}
        </div>
        <form action="#" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
  
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="first_name" required />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="last_name" required />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required />
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
</body>
</html>
