<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks Recipes</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Snacks Recipes</h1>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ recipe.image_url }}" class="card-img-top" alt="Snack Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text"><strong>Description:</strong> {{ recipe.description }}</p>
                            <p class="card-text"><strong>Category:</strong> {{ recipe.category }}</p>
                            <p class="card-text"><strong>Ingredients:</strong></p>
                            <ul>
                                {% for ingredient in recipe.ingredients.splitlines %}
                                    <li>{{ ingredient }}</li>
                                {% endfor %}
                            </ul>
                            <p class="card-text"><strong>Instructions:</strong> {{ recipe.instructions }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'add_snacks' %}" class="btn btn-primary mb-4">Add Snack Recipe</a>
        <div class="row">
            <div class="col-md-12">
                <button onclick="location.href='/'" class="btn btn-primary">Back</button>
            </div>
        </div>
    </div>
    
</body>
</html>
